.title {
  font-size: 2em;
}

.wrapper {
  lost-center: 1000px;
  font-size: 1em;
  font-family: 'Lora', serif;
  margin-left: 3vw;
}
.year {
  font-size: 2em;
}

.linkWrapper {
  > li {
    list-style: none;
  }
}
.listItem {
  > a {
    text-decoration: none;
  }
}

.active {
  font-size:1.5em;
  color:black;
}
.hidden {
  visibility: hidden;
  height: 0px;
}
