.title {
  font-size: 2em;
}

.wrapper {
  lost-center: 1000px;
  font-size: 1em;
  font-family: 'Lora', serif;
  margin-left: 3vw;
}
.year {
  font-size: 2em;
}

.linkWrapper {

}
.link {
  > a {
    text-decoration: none;
  }
}
