.wrapper {
  lost-center: 700px;
  font-size: 2.7em;
  font-family: 'Lora', serif;
  align-items: center;
}



.years {
  >li a {
    text-decoration: none;
  }

}
.title {
  font-size: 1.3em *40vw;
  margin-bottom: 5vh;
  /*text-align: center;*/
}
.lastName {
  font-size: 1.3em;
  position:absolute;
  top: 2vw;
  left: 40%;
  transform: rotate(90deg);
}
